<mat-card class="mat-elevation-z4">
    <mat-card-title>Add Stock Detail</mat-card-title>
    <mat-card-subtitle>Input form to add the stock details to be invested</mat-card-subtitle>
    <mat-card-content>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <mat-error *ngIf="!validInput">
          The stock count and stock price should be greater than 0
        </mat-error>
        <mat-form-field>
          <input matInput placeholder="Symbol" [(ngModel)]="sybmol" name="symbol" required>
          <mat-error>
            Please provide the Symbol of stock
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="# of stocks" [(ngModel)]="stockCount" name="stockCount" required>
          <mat-error>
            Please provide the number of stocks invested
          </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Average price of stocks" [(ngModel)]="avgStockPrice" name="avgStockPrice" required>
            <mat-error>
              Please provide the average price of invested stocks
            </mat-error>
          </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid" (click)="executeStockEvent('add')"> Add Stock </button>
            <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid" (click)="executeStockEvent('update')"> Update Stock </button>
      </form>
    </mat-card-content>
  </mat-card>