<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav">
        <button routerLink="/login" color="primary" mat-button>Login</button>
        <button routerLink="/info" color="primary" mat-button>Sample View</button>
    </mat-drawer>
    <div class="sidenav-content">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button mat-icon-button (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>Stock App</span>
                <span class="spacer"></span>
                <button mat-icon-button matTooltip="Login" routerLink="/login">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Dashboard View" routerLink="/stock-info" >
                   <mat-icon class="material-icons-round">dashboard</mat-icon>
                </button>
                <span></span>
                <button mat-icon-button matTooltip="Sample Dashboard" routerLink="/info" >
                    <mat-icon class="material-icons-round">info</mat-icon>
                 </button>
                <span></span>
                <button mat-icon-button matTooltip="Logout"  (click)="logout()">
                    <mat-icon>logout</mat-icon>
                </button>
                <span></span>
                <button mat-icon-button matTooltip="Info About App"  (click)="openDialog()">
                    <mat-icon>help</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>