<mat-card>
    <mat-card-content>
        <h2 class="alert-danger">Alert !!!</h2>
        <section fxLayout="column wrap" fxLayoutGap="60px" fxLayoutAlign="center center">
            <div fxFlex>
                Page Not Fount or ... Service not ready.
            </div>
            <div fxFlex>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            <div fxFlex>

            </div>
        </section>
        <button mat-raised-button color="primary" (click)="backToHome()">Back To Login</button>
    </mat-card-content>
</mat-card>